<html>
    <body>
        <h1> Here are the details for your search!</h1>
        <p>You searched for: {{title}}</p>
        <p>Our library contained the following info: </br> {{result}}</p>

        <h1>The Library</h1>
        <p>The library currently consists of: </br> {{allbooks}}</p>

        <h1>Adding to the Library</h1>
        <p>You added {{title}}</p>
        <p>The library now consists of:</br>{{newlibrary}}</p>

        <h1>Delete a book</h1>
        <p>You requested to delete {{title}}</p>
        <p>{{title}} was {{deleted}}</p>
    </body>
</html>