<html>
    <body>
        <h1> Here are the details for your search!</h1>
        <p>You searched for: {{book.title}}</p>
        
        {{#if book}}
        <p>Here are the details we have for your request:</p>
        </br>
            <li>Title: {{ book.title }}</li>
            <li>Author: {{ book.author }}</li>
            <li>ISBN: {{ book.isbn }}</li>
        </br>
        <p>Would you like to <a href="/delete?title={{book.title}}">delete</a> this book?</p>

        {{else}}
            <p>We don't have this title!</p>
        {{/if}}
        </br>
        <p>Return <a href="/">home</a>?</p>

        <!-- <p>Added to library: </br> {{newlibrary}}</p> -->

    </body>
</html>